configuration {
    modi: "window";
    window-format: "{w}";
    window-command: "xdotool windowactivate {window}";
}

window {
    width: 500px;  /* Adjust width as needed */
    height: 60px;
    location: center;
    anchor: center;
    background-color: #2e3440;
}

listview {
    layout: horizontal;
    spacing: 10px;
    padding: 5px;
    lines: 1;
}

element {
    orientation: horizontal;
    padding: 5px;
    children: [ element-icon ];
}

element-icon {
    size: 32px;
}